name: Clang-tidy Review for Pull Request

on: [pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - uses: bryanmr/clang-tidy-review@testing
      id: review
    # If there are any comments, fail the check
    - if: steps.review.outpus.total_comments > 0
      run: exit 1
